%h1 Authentication and Authorization

%p.login
  Please log in to Facebook.
  <fb:login-button>Log In</fb:login-button>

%p.ready
  Please wait...

%p.add
  This app is absolutely wonderful, please add it!
  <fb:login-button>Add This Application</fb:login-button>

:javascript
  $(document).ready(function() {
    $('.login').hide();
    $('.ready').hide();
    $('.add').hide();
  });
  FB.getLoginStatus(function(response) {
    if (response.status == 'connected') {
      $('.ready').show();
      window.top.location.href = '#{FacebookConfig['app_url']}';
    } else if (response.status == 'unknown') {
      $('.login').show();
    } else if (response.status == 'notConnected') {
      $('.add').show();
    }
  });
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // If we have a session, and it's valid...
      window.top.location.href = '#{FacebookConfig['app_url']}';
    }
  });
