%h1 Authentication and Authorization

%p.login
  Please log in to Facebook.
  <fb:login-button>Log In</fb:login-button>

%p.add
  This app is absolutely wonderful, please add it!
  <fb:login-button>Add This Application</fb:login-button>

%p.ready
  Please wait...

= fbauth_login_javascript(:login => '.login', :add => '.add', :ready => '.ready')
