- if auto_resize
  :javascript
    $(document).ready(function() {
      FB.init({appId: '#{FacebookConfig['app_id']}', status: true, cookie: true, xfbml: true, channelUrl: '#{channel_url}'});
      FB.Canvas.setAutoResize();
    });
- else
  :javascript
    $(document).ready(function() {
      FB.init({appId: '#{FacebookConfig['app_id']}', status: true, cookie: true, xfbml: true});
    });
