- if auto_resize
  :javascript
    window.fbAsyncInit = function() {
      FB.init({appId: '#{FacebookConfig['app_id']}', status: true, cookie: true, xfbml: true, channelUrl: '#{channel_url}'});
      FB.Canvas.setAutoResize();
      if (typeof window.fbAuthInit == 'function') {
        window.fbAuthInit();
      }
    };
- else
  :javascript
    window.fbAsyncInit = function() {
      FB.init({appId: '#{FacebookConfig['app_id']}', status: true, cookie: true, xfbml: true});
      if (typeof window.fbAuthInit == 'function') {
        window.fbAuthInit();
      }
    };
:javascript
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
