%h2 Session Data

%table
  %tr
    %th Key
    %th Value
  - if fbauth
    %tr
      %td uid
      %td= fbauth.uid
    %tr
      %td access_token
      %td= fbauth.access_token
    %tr
      %td expires
      %td= fbauth.expires
    %tr
      %td user_data
      %td= fbauth.user_data.inspect
  - else
    %tr
      %td{:colspan => 2, :align => 'center'} No Session Data
