!!! Strict
%html
  %head
    %title Facebook Authentication Test
    %script{ :src => "http://connect.facebook.net/en_US/all.js", :type => "text/javascript" }
  %body
    %h1 Facebook Authentication Test
    = yield
    :javascript
      FB.init({appId: '114653015261512', status: true, cookie: true, xfbml: true});
      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          alert("User logged in!");
        } else {
          alert("No session!");
        }
      });
          
